@using MaskinPark.Shared

<div id="list">
<h4 class ="p-3">List Of Devices</h4>

    <div >
    <a  href="@($"FetchData")" style="background-color:#9370DB; float:right">Add Device</a>
    </div>

 <table class="table">
        <thead>
            <tr>
                <th>DeviceId</th>
                <th>Location</th>
                <th>Date </th>
                <th>Type</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in Machine)
            {
                <tr>
                    <td>@machine.DeviceId</td>
                    <td>@machine.Location</td>
                    <td>@machine.DataTime</td>
                    <td>@machine.Type</td>
                    <td>  
                        @if (machine.Status==0)
                {
                    <div type="button" class="btn  btn-outline-success rounded">
                        @machine.Status
                    </div>
                }
                else
                {
                    <div type="button" class="btn btn-outline-danger ">
                        @machine.Status
                    </div>
                }
                    </td>
                    <td >   
                        <a @onclick="() => Remove(machine)" ><img style="margin: 5px 0px 0px 5px"  src="trash.svg" alt="Alternate Text" /></a>
                        <a  ><img style="margin: 5px 0px 0px 5px"  src="pencil-square.svg" alt="Alternate Text" /></a>

                        <a href="@($"MachineDetails/{machine.DeviceId}")"  ><img style="margin: 5px 0px 0px 5px"  src="info-square.svg" alt="Alternate Text" /></a>

                    </td> 
                    <td>   
                    </td>   
                    <td>   
                    </td> 
                   
                </tr>
            }
        </tbody>
    </table>



@code {
  [Parameter]
  public List<Machine> Machine { get; set; } = new List<Machine>();
      private void Remove(Machine machine){

        //ToDo call api
       Machine.Remove(machine);
    }
       //private void Add()
       // {
       //     Machine.Add(new Machine {  DeviceId = Guid.NewGuid(), Status = Status.Offline,Type = "New Shiny" , Location= "Kanda",DataTime=new DateTime (2016, 5, 2), });
       // }

    [Inject]
    public IToDoClient ToDoClient { get; set; } = default!;

        private Machine machine = new Machine();

    protected override async Task OnInitializedAsync()
    {
        Machine = (await ToDoClient.GetAsync())?.ToList();
    }

       [Parameter]
    public EventCallback<Machine> Add { get; set; }

    public async Task OnAdd()
    {
        await Add.InvokeAsync(machine);
    }

      private async Task AddItem(Machine machine){
       // var newItem = new CreateItem { Text = text };

        var createdItem = await ToDoClient.PostAsync(machine);

        if(createdItem != null)
              Machine.Add(createdItem);
    }

}

</div>