@using IndustriellMaskinpark.Models
<div id="list">
<h4 class ="p-3">List Of Devices</h4>
@if (SeedData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div >
    <button  @onclick="() => Add()" style="background-color:#9370DB; text-align:left">Add Device</button>
    </div>

 <table class="table">
        <thead>
            <tr>
                <th>DeviceId</th>
                <th>Location</th>
                <th>Date </th>
                <th>Type</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in SeedData.Machine)
            {
                <tr>
                    <td>@machine.DeviceId</td>
                    <td>@machine.Location</td>
                    <td>@machine.DataTime</td>
                    <td>@machine.Type</td>
                    <td>  
                        @if (machine.Status==0)
                {
                    <div type="button" class="btn  btn-outline-success rounded">
                        @machine.Status
                    </div>
                }
                else
                {
                    <div type="button" class="btn btn-outline-danger ">
                        @machine.Status
                    </div>
                }
                    </td>
                    <td >   
                        <a @onclick="() => Remove(machine)" ><img style="margin: 5px 0px 0px 5px"  src="trash.svg" alt="Alternate Text" /></a>
                        <a  ><img style="margin: 5px 0px 0px 5px"  src="pencil-square.svg" alt="Alternate Text" /></a>

                        <a href="@($"MachineDetails/{machine.DeviceId}")"  ><img style="margin: 5px 0px 0px 5px"  src="info-square.svg" alt="Alternate Text" /></a>

                    </td> 
                    <td>   
                    </td>   
                    <td>   
                    </td> 
                   
                </tr>
            }
        </tbody>
    </table>



@code {
  [Parameter]
  public List<Machine> Machine { get; set; } = new List<Machine>();
      private void Remove(Machine machine){

        //ToDo call api
       SeedData.Machine.Remove(machine);
    }
       private void Add()
        {
            SeedData.Machine.Add(new Machine {  DeviceId = Guid.NewGuid(), Status = Shared.Status.Offline,Type = "New Shiny" , Location= "Kanda",DataTime=new DateTime (2016, 5, 2), });
        }
   
}
}
</div>